<app-nav></app-nav>
<img class="banner-img" src="assets/banner.jpg"/>
<div class="col-md-12 category-head">Shop By Category</div>
<div class="row">
  <div class="col-md-4 col-xs-6">
    <div class="container2">
      <div class="row">
        <div class="col-md-7">
            <img src="https://choosemyfresh.com/image/categories/Fish-&-Seafood.jpg" alt="Fish &amp; Seafood" class="image2" />
        </div>
        <div class="col-md-5">
          <div class="middle2 row">
            <div class="text2">
              <h4>Fish &amp; Seafood</h4>
              <p>
                Seafood like Leather Jacket,Pomfret White,Trevally and many more
              </p>
              <a class="shopnow" (click)="shopNow()">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-xs-6">
    <div class="container2">
      <div class="row">
        <div class="col-md-7">
            <img src="https://choosemyfresh.com/image/categories/Poultry.jpg" alt="Poultry" class="image2" />
        </div>
        <div class="col-md-5">
          <div class="middle2 row">
            <div class="text2">
              <h4>Meat & Poultry</h4>
              <p>
                Chicken, Duck, Quail and more.Premium Meats & Tender and low fat
              </p>
              <a class="shopnow" (click)="shopNow()">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-xs-6 ">
    <div class="container2">
      <div class="row">
        <div class="col-md-7">
            <img src="https://choosemyfresh.com/image/categories/Vegetables.jpg" class="image2" />
        </div>
        <div class="col-md-5">
          <div class="middle2 row">
            <div class="text2">
              <h4>Vegetables</h4>
              <p>Fresh Vegetables like Tomato,Cabbage and many more</p>
              <a class="shopnow" (click)="shopNow()">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-xs-6">
    <div class="container2">
      <div class="row">
        <div class="col-md-7">
          <img src="https://choosemyfresh.com/image/categories/Fruits.jpg" class="image2" />
        </div>
        <div class="col-md-5">
          <div class="middle2 row">
            <div class="text2">
              <h4>Fruits</h4>
              <p>
                Fresh Fruits like Pineapple,Watermelon and many more
              </p>
              <a class="shopnow" (click)="shopNow()">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-xs-6">
    <div class="container2">
      <div class="row">
        <div class="col-md-7">
          <img src="./assets/eggs.jpg" class="image2" />
        </div>
        <div class="col-md-5">
          <div class="middle2 row">
            <div class="text2">
              <h4>Eggs</h4>
              <p>
                Eggs from Chicken, Duck, Turkey with instant egg curry kits 
              </p>
              <a class="shopnow" (click)="shopNow()">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-xs-6">
    <div class="container2">
      <div class="row">
        <div class="col-md-7">
          <img src="https://i2.wp.com/www.downshiftology.com/wp-content/uploads/2022/03/Healthy-Recipes.jpg" class="image2" />
        </div>
        <div class="col-md-5">
          <div class="middle2 row">
            <div class="text2">
              <h4>Special Recipes</h4>
              <p>
                Capable of providing quick access to various recipes and other cooking-related stuff.
              </p>
              <a class="shopnow" (click)="shopNow()">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row qualityDesign">
    <div class="col-md-3 col-xs-3">
      <div class="col-md-12 deal-tile">
        <img src="https://choosemyfresh.com/image/premium.png" alt="premium" height="120"/><br />
        Premium Produce
      </div>
    </div>

    <div class="col-md-3 col-xs-3">
      <div class="col-md-12 deal-tile">
        <img src="https://choosemyfresh.com/image/wash.png" alt="premium" height="120"/><br />
        Ozone Cleaning
      </div>
    </div>

    <div class="col-md-3 col-xs-3">
      <div class="col-md-12 deal-tile">
        <img src="https://choosemyfresh.com/image/quality.png" alt="premium" height="120"/><br />
        Multiple Quality Check
      </div>
    </div>

    <div class="col-md-3 col-xs-3">
      <div class="col-md-12 deal-tile lasts">
        <img src="https://choosemyfresh.com/image/Delivered-Fresh.png" alt="premium" height="120"/><br />
        Delivered Fresh Everyday
      </div>
    </div>
  </div>
</div>

<div class="footerContainer" style="margin-top:-40px">
<div class="row-footer">
  <p>Best viewed on Microsoft Edge 81+, Mozilla Firefox 75+, Safari 5.1.5+, Google Chrome 80+</p>
</div>
<footer class="footer">
  <div class="container">
    <p>&copy; 2023 Choose Fresh. All rights reserved.</p>
  </div>
</footer>
</div>

