.scroll-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #2db457;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.scroll-top-button.scrolled-down {
  transform: rotate(136deg);
}

.scroll-top-button .arrow {
  width: 16px;
  height: 16px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(315deg);
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.scroll-top-button.scrolled-down .arrow {
  transform: rotate(0);
}

