.outer{
    background-image: url('src/assets/bg.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#forget{
    min-width:100px;
    margin-left:auto;
    cursor:pointer;
    color:#2DB457;
}
.submit{
    background-color:#42bb67;
    color:white;
    border:none;
    padding: 10px;
    border-radius:15px;
    font-size: 16px;
}
.panel{
    min-height:380px;
    border-radius:12px;
    margin: 65px 72px 85px -9px;
}
.panel-heading{
    color:#585858;
}
.input-field{
    border-radius:8px;
    padding:5px;
    border:1px solid #ddd;
    display:flex;
    align-items:center;
    margin-left:0px;
    cursor:pointer;
    color:#249508;
}

.input-field.error{
    border:1px solid red;
    color:red;
}
input[type='text'],[type='password']{
    border:none;
    outline:none;
    box-shadow:none;
    width:100%;
}
.google-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;
    margin-left:130px; 
}
  asl-google-signin-button {
    align-self: flex-start;
}

  .modal.show .modal-dialog {
    margin-top: 193px;
    transform: translateX(53px);
}
  
.modal-title {
    color:#585858;
}
  
.modal-title span {
    font-size: 25px;
    font-weight: 700;
}

  .modal-body {
    font-size: 16px;
    background-color: #f0f0f0 ;
  }
  .input-field-modal{
    border-radius:8px;
    padding:5px;
    display:flex;
    align-items:center;
    margin-left:-15px;
    cursor:pointer;
    color:#249508;
}
  
  .text-danger {
    margin-top: 5px;
    margin-left: 20px;
}
  
.modal-footer {
    background-color: #f0f0f0;
}

  
  